**Tuples**

In Python, a tuple is like a list. It can be used to hold any number of objects.

Here, we create some Python objects (including a couple of Boolean values) and store them in a tuple.

In [1]:
L=[1,2,3]
car={"Bob":"Mustang","Judy":"Beetle"}
s="mystring"
f=98.6
b1=True
b2=False

t=(L,s,f,b1,b2,car)
print(t)

([1, 2, 3], 'mystring', 98.6, True, False, {'Bob': 'Mustang', 'Judy': 'Beetle'})

In [2]:
print(t[0])
print(t[1])
print(t[1:3])
print(t[-2])
print(t[-4:-2])

[1, 2, 3]
mystring
('mystring', 98.6)
False
(98.6, True)

**Immutability of tuples**

Unlike lists, tuples can't be mutated?

In [3]:
t[1]=87.2

TypeError: 'tuple' object does not support item assignment

**Constructing a tuple**

For an an alternative construction of a tuple we can leave out the parentheses and do the following.

In [4]:
t=5,L,car
print(t)
print(type(t))

(5, [1, 2, 3], {'Bob': 'Mustang', 'Judy': 'Beetle'})
<class 'tuple'>

**Assignments**

If we put a comma separated list of variable names on the left side of an assignment, the intrepeter does matches up items.

In [5]:
t=(3,4)
a,b=t   # assign values to a and b?
print(a)
print(b)

3
4

But make sure the same number of items appear in both sides of the assignment.

In [6]:
t=(3,4,5)
a,b=t

ValueError: too many values to unpack (expected 2)

**Multiple assignments in one line**

We can assign values to multiple variables in one line like in this example.

In [7]:
x,y=5,7
print(x)
print(y)

5
7

**Swapping values**

We can swap values of two variables in one line.

In [8]:
x=5
y=7
print(x,y)
x,y=y,x
print(x,y)

5 7
7 5

**The Fibonacci sequence**

Can you explain what is happening in this example?

In [9]:
x=1
y=1
print(x,y)
x,y=y,x+y
print(x,y)
x,y=y,x+y
print(x,y)
x,y=y,x+y
print(x,y)
x,y=y,x+y
print(x,y)

1 1
1 2
2 3
3 5
5 8

**Lists and tuples are iterable**

We mentioned iterability for dictionaries.
Lists and tuples are also iterable.

We can *iterate* over the values and do something for each value. The syntax for this is:

    for x in iterable object:
        do something with x

(here, do something can mean print it out for example).

Note that the colon appears at the end of the for statement. In Python the colon tells us that the following indented block of code is to be carried out with x taking on each value in the iterable object.

In [10]:
L=[1,2,3]
car={"Bob":"Mustang","Judy":"Beetle"}
s="mystring"
f=98.6
b1=True
b2=False

t=(L,s,f,b1,b2,car)
for x in t:
    print(x)

[1, 2, 3]
mystring
98.6
True
False
{'Bob': 'Mustang', 'Judy': 'Beetle'}

In the following we make a list out of t, and iterate over it's values printing out the type of each of its members.

In [11]:
L=list(t)
print(L)
for x in L:
    print(type(x))

[[1, 2, 3], 'mystring', 98.6, True, False, {'Bob': 'Mustang', 'Judy': 'Beetle'}]
<class 'list'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'dict'>

**Creating an empty tuple**

We saw that we could create an empty dictionary using

In [12]:
d={}
print(d)

{}

and by the way, this also works

In [13]:
d=dict()
print(d)

{}

We can also create an empty list (and presumably append stuff to it later) using:

In [14]:
L=[]
print(L)
L=list()
print(L)

[]
[]

We can also create an empty tuple in two ways.

In [15]:
t=()
print(type(t))
print(len(t))

<class 'tuple'>
0

In [16]:
t=tuple()
print(type(t))
print(len(t))

<class 'tuple'>
0

**What about 1-tuples?**

What do you suppose will happen here?

In [17]:
t=(3)
print(t)
print(type(t))

3
<class 'int'>

In [20]:
(3)

3

Why do we get an int?

This also fails to produce a tuple:

In [1]:
t=("giraffe")
type(t)

str

In [ ]:
Alternatively, we can do this.

In [22]:
t=(3,)
print(t)
print(type(t))
print(len(t))

(3,)
<class 'tuple'>
1

or this, create a list first, then construct a tuple from that.

In [23]:
t=tuple([3])
print(t)
print(type(t))

(3,)
<class 'tuple'>

As you might expect, we can create tuples of any size this way.